{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{%static 'css/chessboard.css'%}">
<section id="game">
    <h1>CHESS {{game.match_id}}</h1>
    {{game.match_id | json_script:"game-id"}}
    <div class="container row">
    <div id="myBoard" class="col-lg-8 col-12" ></div>
    <div class="col-lg-4 col-12">
        <label>Status:</label>
        <div id="status"></div>
        <label>FEN:</label>
        <div id="fen"></div>
        <label>PGN:</label>
        <div id="pgn"></div>
    </div>
    
    <!-- <div id="PGN" class="col-4" style="height: 100px; border: 2PX solid black;"> -->

    </div>
    </div>
</section>
{% endblock content %}