{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static '/vendor/cm-chessboard/assets/styles/cm-chessboard.css' %}">
<section id="game">
    <!-- <h1>CHESS {{game.match_id}}</h1> -->
    {{game.match_id | json_script:"game-id"}}
    {{player.player_id | json_script:"player-id"}}
    
    <div id="gameContainer" class=" row justify-content-center">
        <div hidden id="openGame">
            <button hidden id="joinBtn" class="btn  text-light btn-join">JOIN GAME</button>
            <div hidden id="playerWait">
                <h2>WAITING FOR PLAYER TO JOIN</h2>
                <div hidden class="">Share The Invite Link <a id="inviteLink"  href="{{request.build_absolute_uri }}">{{request.build_absolute_uri }}</a></div>
                <script>
                    function copyToClipboard(element) {
                      var $temp = $("<input>");
                      $("body").append($temp);
                      $temp.val($(element).text()).select();
                      document.execCommand("copy");
                      $temp.remove();
                    }
                </script>
                <button class="btn btn-lg btn-outline-dark" onclick="copyToClipboard('#inviteLink')">Click to Copy</button>
                <p class="pt-4">Share with a friend or open in a incognito window </p>
            </div>
            
        </div>
        <div class="chess-container"  >
            <div class="d-flex  flex-row mb-2 align-items-center" >
                <div><img id="playerOppImage" class="icon me-2 border rounded" style="height:25px; width: 25px;" src="{% static 'images/default.png' %}" alt=""></div>
                
                <div id="playerOppName"></div>
            </div>
            <div id="chessboard"></div>
            <div class="d-flex mt-2 align-items-center" >
                <div><img id="playerSelfImage" class="icon me-2 border rounded" style="height:25px; width: 25px;" src="{% static 'images/default.png' %}" alt=""></div>
                
                <div id="playerSelfName"></div>
            </div>
        </div>
        <div class="status-container">
            <div class="mb-4">
                <label>Status:</label>
                <div id="status"></div>
            </div>
            
            <!-- <label>FEN:</label>
            <div id="fen"></div> -->
            <label>PGN:</label>
            <div id="pgn"></div>
        </div>
    
    <!-- <div id="PGN" class="col-4" style="height: 100px; border: 2PX solid black;"> -->


    </div>
    <!-- Button trigger modal -->
    
    
    <!-- Modal -->
    <div class="modal fade" id="winPopup" tabindex="-1" aria-labelledby="winPopupLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="winPopupLabel">GAME OVER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="winPopupText" class="modal-body">
            
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'create-game-page'%}"><button type="button" class="btn btn-primary">Create New Game</button></a>
            </div>
        </div>
        </div>
    </div>
  
</section>

{% endblock content %}