:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --chessWhite: #F5E6BF;
    --chessBlack: #66443A
}
/*CHESS BOARD*/
#game{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin: auto;
}

.board{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30vw;
    height: 30vw;
    min-width: 500px;
    min-height: 500px;
    border: 2px solid black;
}

@media (max-width: 600px) {
    .board{
        min-width: 340px;
        min-height: 340px;
    }
}

.board.isPLayingWhite{
    flex-wrap: wrap-reverse;
}


.row{
    display: flex;
    flex-direction: row;
    width: 100%; 
}
.cell{
    width: 12.5%;
    display: flex;
    padding: 5px;   
}
.cell .notation-letter{
    justify-content: right;
    margin-left: auto;
}
.cell .notation-num{
    align-self: flex-end;
}
.isPLayingWhite .cell .notation-letter{
    align-self: flex-end;
    justify-content: right;
    margin-left: auto;
}

.isPLayingWhite .cell .notation-num{
    align-self: flex-start;
}


.white{
    background-color: var(--chessWhite);
    color: var(--chessBlack);
}
.black{
    background-color: var(--chessBlack);
    color: var(--chessWhite);
}


