:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/*CHESS BOARD*/
#game{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin: auto;
}
#game h1{
    margin-left: 12.5%;
}
.board{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40vw;
    height: 40vw;
    min-width: 600px;
    min-height: 600px;
}

@media (max-width: 600px) {
    .board{
        min-width: 300px;
        min-height: 300px;
    }
}
.board.isPLayingWhite{
    flex-wrap: wrap-reverse;
}


.cell.rowID{
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

.cell.columnID{
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}
.cell{
    width: 12.5%;
    display: flex;
    justify-content: right;
    
}
.white{
    background-color: #F5E6BF;
}
.black{
    background-color: #66443A;
}
.cell span{
    display: none;
    align-self: flex-end;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

