#game{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin: auto;
}

.board{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: min-content;
    
    /* min-width: 500px;
    min-height: 500px; */
    border: 2px solid black;
}


.board.isPLayingWhite{
    flex-wrap: wrap-reverse;
}


.row{
    display: flex;
    flex-direction: row;
    
    height: max-content; 
}
.cell{
    width: 3vmax;
    height: 3vmax;
    display: flex;
    position: relative;
    padding: 5px;
    user-select: none;
    
       
}
.cell img{
    width: 70%;
    align-self: center;
    margin: auto;
    
}
.cell:hover{
    background-color: lightcoral;
}
.cell .notation-letter{
    align-self: flex-start;
    position: absolute;
    right: 5px;
    
}
.cell .notation-num{
    align-self: flex-end;
    position: absolute;
    left: 5px;
    
}
.isPLayingWhite .cell .notation-letter{
    align-self: flex-end;
    
    
}

.isPLayingWhite .cell .notation-num{
    align-self: flex-start;
    
}

@media (max-width: 600px) {
    .cell img{
        width: 100%;
    }

    .cell .notation-letter{
        display: none;
        
    }
    .cell .notation-num{
        display: none;
        
    }
}

.white{
    background-color: var(--chessWhite);
    color: var(--chessBlack);
    
}
.black{
    background-color: var(--chessBlack);
    color: var(--chessWhite);
}