{% extends "base.html" %}
{%load static%}
{% block content %}


<main>
    <div class="container  top-buffer">
        <div class="row">
            <div class="hero">
                <div class="hero-left d-flex flex-column">
                    <h1>HOME</h1>
                    {%if user.is_authenticated%}
                        <a href="{% url 'create-game-page' %}"><button class="btn btn-lg btn-outline-dark">Create Game</button></a>
                    {%else%}
                    <div class="mb-1">
                        <a href="{% url 'register'%}"><button class="btn btn-lg btn-outline-dark">Sign Up</button></a>
                        <a href="{% url 'login'%}"><button type="button" class="btn btn-lg btn-outline-dark">Login</button></a>  
                      </div>
                    <!-- <button class="btn btn-md btn-purple">Log in With Twitch <i class="bi bi-twitch"></i></button> -->
                    <a href="{% url 'create-game-page' %}"><button style="width: 100%;" class="btn btn-lg btn-outline-dark">Create Game</button></a>
                    {%endif%}
                </div>
                <div class="hero-right">
                    <img src="{% static 'images/logo.svg' %}" alt="Logo">
                </div>
            </div>
        </div> 
    </div>
</main>

{% endblock content %}